
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    background-color: rgb(233, 176, 228);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(portadahungergames.jpg) no-repeat;
    box-shadow: 0 0 100px rgb(2, 0, 2);
    background-size: cover;
    background-position: center;
}

.primera {
    width: 420px;
    color: aliceblue;
    border-radius: 20px;
    padding: 30px 40px;
    border: 100px;
    background: transparent;
    border: 1px solid white;
    backdrop-filter: blur(50px);


}

.primera h1 {
    font-size: 36px;
    text-align: center;
}

.primera .inputbox {
    position: relative;
    width: 100%;  
    height: 50px;
    margin: 30px 0;

}

.inputbox input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, .2);
  border-radius: 48px;
  font-size: 18px;
  color: white;
  padding: 20px 40px 20px 20px;
}

.inputbox input::placeholder {
  color: rgb(255, 255, 255);
}

.inputbox i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
}

.primera .rememberforgot{
  display: flex;  
  justify-content: space-between;
  font-size: 16px;
  margin: -15px 0 15px;
}

.primera .rememberforgot label input{
  accent-color: white;
  margin-right: 5px;
}

.primera .rememberforgot a{
  color: white;
  text-decoration: none;
}

.primera .rememberforgot a:hover {
  text-decoration: underline;
  color: rgba(32, 23, 23, 0.938);
}

.primera .registrolink{
  font-size: 17px;
  text-align: center;
  margin: 20px 0 0px;
}

.registrolink p a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.registrolink p a:hover {
 color: rgba(32, 23, 23, 0.938);
 text-decoration: underline;
}
 

.ingresa  #ingresa{
    width: 100%;
    height: 50px;
    align-items: center;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 48px;
    box-shadow: 0 0 5px rgb(51, 49, 49);
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 40%;
    color: black;
}



